
.button {
	-fx-background-color: white;
	-fx-border-color: #0046ad;
	-fx-font-family: "Segoe UI Semibold";
}
.label {
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: black;
}
#pane {
	-fx-background-color: white;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;

}
.table-row-cell:selected {
   -fx-background-color: #0046ad; 
}
.table-row-cell:selected .text {
   -fx-fill: white;

}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}



.choice-box  {
	-fx-font-family: "Segoe UI Semibold";
	-fx-background-color: white;
	-fx-border-color: #0046ad;
}

.choice-box .context-menu {
	-fx-background-color: white;
}

.text-field {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color: #0046ad;
}

 .text-area .content {
      -fx-background-color: white;
  }
  
 .text-area {
 	-fx-text-fill: black;
 	-fx-border-color: #0046ad;
 }
 
.check-box .box {
	-fx-background-color: RGB(50, 50, 50);
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
-fx-background-color: white;
}

.check-box {
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: black;
}

.check-box:selected .box {
	-fx-background-color: #28a3f4;
}

#propertiesButton {
	-fx-background-image: url('icons/ic_settings_black_36dp_1x.png');
	-fx-background-size: 34px 34px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
#deleteButton {
	-fx-background-image: url('icons/ic_delete_forever_black_36dp_1x.png');
	-fx-background-size: 36px 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addButton {
	-fx-background-image: url('icons/ic_add_black_36dp_1x.png');
	-fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#editButton {
	-fx-background-image: url('icons/ic_mode_edit_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#okButton {
	-fx-background-image: url('icons/ic_done_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#cancelButton {
	-fx-background-image: url('icons/ic_clear_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#topButton {
	-fx-background-image: url('icons/ic_keyboard_arrow_up_black_48dp_2x.png');
	-fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

#bottomButton {	
	-fx-background-image: url('icons/ic_keyboard_arrow_down_black_48dp_2x.png');
	-fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}