
.button {
	    -fx-background-color: #ab6b0f;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: white;
}
#pane {
	-fx-background-color: RGB(67, 67, 67);
}

.table-view {
    -fx-base: RGB(50, 50, 50);
    -fx-control-inner-background: RGB(50, 50, 50);
}
.table-view .focused {
	-fx-background-color: red;
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.radio-button {
	-fx-text-fill: white;
}

.choice-box  {
	-fx-background-color: RGB(50, 50, 50);
}

.choice-box .context-menu {
	-fx-background-color: RGB(50, 50, 50);
}

.text-field {
	-fx-background-color: RGB(50, 50, 50);
	-fx-text-fill: white;
}

 .text-area .content {
      -fx-background-color: RGB(50, 50, 50);
      
  }
  
 .text-area {
 	-fx-text-fill: white;
 }
 
.check-box .box {
-fx-background-color: RGB(50, 50, 50);
-fx-border-color:grey;
-fx-border-radius:3px; 
}

.check-box:selected .mark {
-fx-background-color: white;
}

.check-box {
	-fx-text-fill: white;
}

.check-box:selected .box {
-fx-background-color: #28a3f4;
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

#propertiesButton {
	-fx-background-image: url('../source/ic_settings_white_48dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;

}

#deleteButton {
	-fx-background-image: url('../source/ic_delete_white_48dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
}

#addButton {
	-fx-background-image: url('../source/ic_add_white_48dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
}

#editButton {
	-fx-background-image: url('../source/ic_mode_edit_white_48dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
}

#okButton {
	-fx-background-image: url('../source/ic_done_white_128dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
}

#cancelButton {
	-fx-background-image: url('../source/ic_clear_white_48dp_1x.png');
	-fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
}