
.button {
	-fx-background-color: #ab6b0f;
	-fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
}
#pane {
	-fx-background-color: RGB(67, 67, 67);
}

.table-view {
    -fx-base: RGB(50, 50, 50);
    -fx-control-inner-background: RGB(50, 50, 50);
}
.table-view .focused {
	-fx-background-color: red;
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.radio-button {
	-fx-text-fill: white;
}

.choice-box  {
	-fx-background-color: RGB(50, 50, 50);
}

.choice-box .context-menu {
	-fx-background-color: RGB(50, 50, 50);
}

.text-field {
	-fx-background-color: RGB(50, 50, 50);
	-fx-text-fill: white;
}

 .text-area .content {
      -fx-background-color: RGB(50, 50, 50);
      
  }
  
 .text-area {
 	-fx-text-fill: white;
 }
 
.check-box .box {
-fx-background-color: RGB(50, 50, 50);
-fx-border-color:grey;
-fx-border-radius:3px; 
}

.check-box:selected .mark {
-fx-background-color: white;
}

.check-box {
	-fx-text-fill: white;
}

.check-box:selected .box {
-fx-background-color: #28a3f4;
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

#propertiesButton {
	-fx-background-image: url('/icons/ic_settings_black_36dp_1x.png');
	-fx-background-size: 34px 34px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
#deleteButton {
	-fx-background-image: url('/icons/ic_delete_forever_black_36dp_1x.png');
	-fx-background-size: 36px 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addButton {
	-fx-background-image: url('/icons/ic_add_black_36dp_1x.png');
	-fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#editButton {
	-fx-background-image: url('/icons/ic_mode_edit_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#okButton {
	-fx-background-image: url('/icons/ic_done_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#cancelButton {
	-fx-background-image: url('/icons/ic_clear_black_36dp_1x.png');
	-fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#topButton {
	-fx-background-image: url('/icons/ic_keyboard_arrow_up_black_48dp_2x.png');
	-fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

#bottomButton {	
	-fx-background-image: url('/icons/ic_keyboard_arrow_down_black_48dp_2x.png');
	-fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}